@tailwind base;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
}

@tailwind components;

.card {
  @apply bg-white shadow-md rounded-lg p-4;
}

@tailwind utilities;
