@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: Lexend, sans-serif;
}

@tailwind components;

.card {
  @apply bg-white shadow-md rounded-lg p-4;
}

@tailwind utilities;
